# file formats
*.zip
*.h5
*.gz
*.pyc
*.npy
*.p
*.mp4


# jupyter checkpoints
*/.ipynb_checkpoints/*
.ipynb_checkpoints/

# system junk
.DS_Store
*/.DS_Store/*

# project specific
/term-1/01-simple-lanes/annotated-videos